//Common color
$white: #fff;
$red: #db4912;
$yellow: #f0af03;
$green: #57b955;
$cyan: #4ebfbb;
$blue: #4e85bd;
$gray: #555;

//Bg color
$transparent-bg: rgba(51,51,51,.45);

$transparent-hover-bg: rgba(51,51,51,.3);
