@import "_variables.scss";
@import "_color.scss";

.main--layout-horizonal{
  display: flex;
  flex-direction: row;
}

.main--layout-vertical{
  display: flex;
  flex-direction: column;
}

header{
  height: 80px;
}

.page{
  width: 100%;
  margin-right: $pages-margin-right;
  padding-bottom: $pages-padding-bottom;
}

.page__title{
  color: $white;
  margin-bottom: 1rem;
}

.page__subtitle{
  color: $white;
  margin: .75rem 0;
}

.page__paragraphs{
  color: $white;
}
