@import "_color.scss";
@import "_variables.scss";

*, *::before, *::after{
  box-sizing: border-box;
}

html{
  min-height: 100%;
}

body{
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

main{
  display: block;
  position: relative;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  margin-top: 0;
  margin-bottom: $title-margin-bottom;
  font-weight: $title-weight;
  letter-spacing: $title-letter-spacing;
}

p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

a{
  text-decoration: none;
  color: $link-color;
  transition: $common-transition;
  &:hover{
    color: darken($link-color, 20%);
    text-decoration: underline;
  }
  &:active,&:focus,{
    outline: none;
  }
}

button{
  &:focus{
    outline: none;
  }
}

// p{
//   margin: 0;
// }
