@import "_color.scss";
@import "_variables.scss";

a{
  color: $link-color;
  transition:
  &:hover{
    color: darken($link-color, 20%);
    text-decoration: underline;
  }
}

h1,h2,h3,h4,h5,h6{
  font-weight: $title-weight;
  letter-spacing: $title-letter-spacing;
}

p{
  
}

// Background

.bg--theme-sunrise{
  background-image: radial-gradient(10% 10%, farthest-corner ellipse, #409df6 0%,#f1a45b);
}

.bg--theme-twilight{
  background-image: linear-gradient(#3f3fbb, #bd9166);
}
