@import "_color.scss";
@import "_variables.scss";
@import "_mixin.scss";

.btn{
  box-shadow: none;
  border-radius: $border-radius;
  cursor: pointer;
  padding: $btn-padding;
  color: $white;
  border-style: solid;
  border-width: $btn-border-width;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $common-line-height;
  &:hover{
    text-decoration: none;
    color: $white;
  }
}


//size
.btn-large{
  font-size: $btn-fontsize * 1.25;
}

.btn-medium{
  font-size: $btn-fontsize;
}

.btn-small{
  font-size: $btn-fontsize / 1.25;
}

//theme

.btn-default{
  @include btn-style($blue);
}

.btn-success{
  @include btn-style($green);
}

.btn-warning{
  @include btn-style($yellow);
}

.btn-danger{
  @include btn-style($red);
}

//display

.button-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
