@import "_variables";
@import "_color";
@import "_mixin";

.collapse{
  // border-radius: $border-radius;
  // background-color: $white;
}

.collapse__item{
  border-radius: $border-radius;
  background-color: $white;
  margin-bottom: $common-margin;
}

.collapse__item-active{
  & .collapse__item-header::after{
    transform: rotate(-90deg);
  }
  & .collapse__item-body{
    display: block;
    height: auto;
  }
}

.collapse__item-header{
  padding: $common-padding;
  position: relative;
  cursor: pointer;
  &::after{
    content: '\e620';
    font-family: icon;
    font-weight: 300;
    font-size: 12px;
    position: absolute;
    right: 15px;
    //color: lighten($gray,20%);
    display: inline-block;
    transition: $common-transition;
  }
}

.collapse__item-body{
  border-top: 1px solid darken($white,20%);
  display: none;
  height: 0;
  overflow: hidden;
  transition: $common-transition;
}

.collapse__item-body__content{
  border-top: 1px solid darken($white,20%);
  padding: $common-padding;
  overflow: hidden;
}
