@import "_variables";
@import "_color";

// Input
.input{
  display: inline-block;
  width: 100%;
  height: $input-height;
  padding: $common-padding;
  border: $input-border;
  border-radius: $border-radius;
  background-color: $white;
  box-shadow: $input-box-shadow;
  font-size: $input-fontsize;
  // margin-bottom: $common-margin;
  -webkit-appearance: none;
}

.input-lg{
  height: $input-height*(4/3);
  font-size: $input-fontsize*(4/3);
}

.input-sm{
  height: $input-height*(2/3);
  font-size: $input-fontsize*(2/3);
}

// input-search input-email

.input-search-container,.input-email-container{
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-search-button{
  position: absolute;
  right: 0;
  height: $input-height;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-lg+.input-search-button{
  height: $input-height*(4/3);
}

.input-sm+.input-search-button{
  height: $input-height*(2/3);
}

// .input-email-reminer{
//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 100%;
//   padding: $common-padding;
//   background: $white;
//   box-shadow: $common-boxshadow;
//   border: $input-border;
//   border-radius: $border-radius;
//   z-index: 1;
// }

//Dropdown
.dropdown-conatainer{
  position: relative;
  display: inline-block;
  width: 100%;
}
.dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: .5em 0;
  background: $white;
  box-shadow: $common-boxshadow;
  border: $input-border;
  border-radius: $border-radius;
  z-index: 1;
  & li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 1em;
    cursor: pointer;
    &:hover{
      background-color: $blue;
      color: $white;
    }
  }
}

// Radio
.input-radio-group{
  display: flex;
  flex-wrap: wrap;
  & .input-radio-container{
    flex: 1;
  }
  &.input-radio-group-vertical{
    flex-direction: column;
  }
}

.input-radio-container{

}

.input-radio{
  cursor: pointer;
  opacity: 0;
  &+label{
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    padding-left: .5rem;
    &::before{
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      border: 1px solid lighten($gray, 10%);
      background-color: $white;
      border-radius: 50%;
      margin-left: -1rem;
      margin-right: .5rem;
      margin-top: 5px;
    }
    &::after{
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      position: absolute;
      left: 3px;
      top: 0;
      border: 1px solid #ccc;
      background-color: lighten($gray, 10%);
      border-radius: 50%;
      margin-left: -1rem;
      margin-right: .5rem;
      margin-top: 5px;
      transform: scale(0,0);
      transition: $common-transition;
    }
  }
  &.input-radio-primary{
    &+label::before{
      border-color: $blue;
    }
    &+label::after{
      background-color: $blue;
    }
  }
}

.input-radio:checked {
  & + label::after{
    transform: scale(1,1);
  }
}




// display

.input-display{
  margin-bottom: $common-margin;
}
