@import "_variables";
@import "_color";
@import "_mixin";

// Input
.input{
  display: inline-block;
  width: 100%;
  height: $input-height;
  padding: $common-padding;
  border: $input-border;
  border-radius: $border-radius;
  background-color: $white;
  box-shadow: $input-box-shadow;
  font-size: $input-fontsize;
  // margin-bottom: $common-margin;
  -webkit-appearance: none;
}

.input-lg{
  height: $input-height*(4/3);
  font-size: $input-fontsize*(4/3);
}

.input-sm{
  height: $input-height*(2/3);
  font-size: $input-fontsize*(2/3);
}

// input-search input-email

.input-search-container,.input-email-container{
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-search-button{
  position: absolute;
  right: 0;
  height: $input-height;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-lg+.input-search-button{
  height: $input-height*(4/3);
}

.input-sm+.input-search-button{
  height: $input-height*(2/3);
}

// .input-email-reminer{
//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 100%;
//   padding: $common-padding;
//   background: $white;
//   box-shadow: $common-boxshadow;
//   border: $input-border;
//   border-radius: $border-radius;
//   z-index: 1;
// }

//Dropdown
.dropdown-conatainer{
  position: relative;
  display: inline-block;
  width: 100%;
}
.dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: .5em 0;
  background: $white;
  box-shadow: $common-boxshadow;
  border: $input-border;
  border-radius: $border-radius;
  z-index: 1;
  & li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 1em;
    cursor: pointer;
    &:hover{
      background-color: $blue;
      color: $white;
    }
  }
}

// Radio
.input-radio-group{
  display: flex;
  flex-wrap: wrap;
  & .input-radio-container{
    flex: 1;
  }
  &.input-radio-group-vertical{
    flex-direction: column;
  }
}

.input-radio-container{

}

.input-radio{
  cursor: pointer;
  opacity: 0;
  &+label{
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    padding-left: .5rem;
    &::before{
      content: "";
      @include common-input-radio-checkbox-styles(18px,50%,true);
    }
    &::after{
      content: "";
      @include common-input-radio-checkbox-styles(12px,50%,false);
      display: inline-block;
      left: 3px;
      top: 0;
      background-color: lighten($gray, 10%);
      transform: scale(0,0);
    }
  }
  &.input-radio-primary{
    &+label::before{
      border-color: $blue;
    }
    &+label::after{
      background-color: $blue;
    }
  }
}

.input-radio:checked {
  & + label::after{
    transform: scale(1,1);
  }
}

//Checkbox

.input-checkbox-group{
  display: flex;
  & .input-checkbox-container{
    flex: 1;
  }
}

.input-checkbox-group-vertical{
  flex-direction: column;
}

.input-checkbox{
  cursor: pointer;
  opacity: 0;
  & + label{
    position: relative;
    vertical-align: middle;
    padding-left: .5rem;
    cursor: pointer;
    &::before{
      content: '';
      @include common-input-radio-checkbox-styles(18px,$border-radius,true);
    }
    &::after{
      @include common-input-radio-checkbox-styles(null,null,null);
      top: -3px;
      left: 2px;
      color: lighten($gray, 10%);
      font-weight: bold;
      background-color: transparent;
      font-size: 14px;
    }
  }
}

.input-checkbox:checked{
  & + label::after{
    content: '\e632';
    font-family: "icon";
  }
}

@include create-input-checkbox-theme();

//Select

.input-select-container{
  position: relative;
  display: inline-block;

  & .btn{
    width: 100%;
    text-align: left;
  }
}


// display

.input-display{
  margin-bottom: $common-margin;
}
