@import "_color.scss";
@import "_variables.scss";

.nav{
  margin: 0 $nav-margin;
}

.nav__item{
  border-radius: $border-radius;
  a{
    color: $white;
    display: block;
    text-decoration: none;
  }
  &>a{
    text-indent: $text-indient;
  }
}

.subnav{

}

.subnav__item{
  border-radius: $border-radius;
  padding: $nav-item-padding;
  &:hover{
    background-color: $transparent-hover-bg;
  }
}
